* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url('./img/background.png') center/cover;
  margin-top: 30px;
  border-radius: 22px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.btn {
  width: 55px;
  height: 55px;
  background-color: #66a675;
  border-radius: 8px;
  border: 3px solid #266873;
  font-size: 28px;
  color: white;
  transition: transform 150ms ease-in;
}

.btn:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 108px;
  padding: 3px 0;
  background-color: white;
  border-radius: 8px;
  border: 3px solid #266873;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
  color: #2f4858;
  text-align: center;
  visibility: hidden;
}

.game__score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #66a675;
  border-radius: 50%;
  border: 4px solid #266873;
  font-size: 36px;
  font-weight: 600;
  color: white;
  visibility: hidden;
}

.game__timer.visible,
.game__score.visible {
  visibility: visible;
}

.game__field {
  width: 100%;
  height: 100%;
  position: relative;
}

.cheese,
.mouse {
  position: absolute;
}

.pop-up {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  transform: translateY(-174%);
}

.pop-up.visible {
  visibility: visible;
}

.pop-up__level,
.pop-up__refresh {
  display: none;
}

.pop-up__level.visible,
.pop-up__refresh.visible {
  display: block;
}

.pop-up__message {
  margin: 0;
  margin-top: 14px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
